<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/stylesheets/estilos.css">
	<script src="../public/javascripts/jquery-1.11.2.min.js"></script>
	<!-- <script src="../public/javascripts/comunicacioncliente.js"></script> -->
	<title>Cartones</title>
</head>
<body>
	<div class="carton">
		<ul id="text-bingo">
			<li><a>B</a></li>
			<li><a>I</a></li>
			<li><a>N</a></li>
			<li><a>G</a></li>
			<li><a>O</a></li>
		</ul>
		<ul class="filas">
			<li><a id="b1"></a></li>
			<li><a id="i1"></a></li>
			<li><a id="n1"></a></li>
			<li><a id="g1"></a></li>
			<li><a id="o1"></a></li>
		</ul>
		<ul class="filas">
			<li><a id="b2"></a></li>
			<li><a id="i2"></a></li>
			<li><a id="n2"></a></li>
			<li><a id="g2"></a></li>
			<li><a id="o2"></a></li>
		</ul>
		<ul class="filas">
			<li><a id="b3"></a></li>
			<li><a id="i3"></a></li>
			<li><a id="n3"></a></li>
			<li><a id="g3"></a></li>
			<li><a id="o3"></a></li>
		</ul>
		<ul class="filas">
			<li><a id="b4"></a></li>
			<li><a id="i4"></a></li>
			<li><a id="n4"></a></li>
			<li><a id="g4"></a></li>
			<li><a id="o4"></a></li>
		</ul>
		<ul class="filas">
			<li><a id="b5"></a></li>
			<li><a id="i5"></a></li>
			<li><a id="n5"></a></li>
			<li><a id="g5"></a></li>
			<li><a id="o5"></a></li>
		</ul>
	</div>
	
	<div>
		<a id="pedir-carton"> Pedir cartón</a>
	</div>

</body>
</html>