<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/stylesheets/estilos.css">
	<script src="../public/javascripts/jquery.js"></script>
	<title>Cartones</title>
</head>
<script>
	$("body").append("<p>Hola</p>");
</script>
<body>
	<div>
		<a id="pedir-carton"> Pedir cartón</a>
	</div>
	<script src="../public/javascripts/jquery.js"></script>
	<script src="../public/javascripts/cliente.js"></script>
	<script src="../public/javascripts/render.js"></script>
	
</body>
</html>