<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/stylesheets/estilos.css">
	<title>Iniciar Partida - Bingo Virtual</title>
</head>
<body>
	<header>
		<p>Bingo Virtual</p>
	</header>
	<div class="center">
		<div class="servidores">
			<p>Servidores disponibles</p>
			<select name="" id="select_servidores">
			</select>
		</div>
		<a href="#" id="conectar_servidor">Conectar</a>
		<div class="form">
			<p>Cantidad de cartones <br>(Max 5)</br></p>
			<select id="ncartones">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>
		<a href="../views/cartones.html" class="boton-grande-teal" id="nueva-partida">Nueva partida</a>
	</div>
	<script src="../public/javascripts/jquery.js"></script>
	<script src="../public/javascripts/parametros.js"></script>
	<script src="../public/javascripts/cliente.js"></script>
</body>
</html>