<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../public/stylesheets/estilos.css">
	<title>Crear partida Bingo</title>
</head>
<body>
	<header>
		<p>Bingo Virtual</p>
	</header>
	<div class="center">
		<p class="titulo">Conexiones</p>
		<div id="list-conexiones">
			<ul id="users">
				<li class="title-li">Usuario</li>
			</ul>
			<ul id="direcciones">
				<li class="title-li">Dirección IP</li>
			</ul>
			
		</div>
		<a href="#" id="cantar-numeros" class="boton-grande-teal"> Cantar números</a>
		<a href="../views/index.html" id="cerrar-sala" class="boton-grande-teal">Cerrar Sala</a>
		<div id="numeros-cantados">
			<ul></ul>
		</div>
	</div>
	<script src="../public/javascripts/jquery.js"></script>
	<script src="../public/javascripts/parametros.js"></script>
	<script src="../public/javascripts/cartones.js"></script>
	<script src="../public/javascripts/servidor.js"></script>
	<script src="../public/javascripts/conexiones.js"></script> 
	
</body>
</html>