<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="../public/javascripts/jquery-2.1.3.js"></script>
	<link rel="stylesheet" href="../public/stylesheets/estilos.css">
	<script src="../public/javascripts/cartones.js"></script>
	<script src="../public/javascripts/servidor.js"></script>
	<script src="../public/javascripts/conexiones.js"></script> 
	<title>Crear partida Bingo</title>
</head>
<body>
	<header>
		<p>Bingo Virtual</p>
	</header>
	<div class="center">
		<form action="">
			<p>Conexiones:</p>
		</form>
		<a href="../views/index.html" id="cerrar-sala" class="boton-grande-teal">Cerrar Sala</a>
	</div>
	
</body>
</html>